<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">
<head>

    <meta charset="UTF-8" >
    <title>Patient</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card mt-3" >
                    <div class="card-header">Nouveau patient</div>
                    <div class="card-body">
                        <div class="p-3">
                            <p>formPatients</p>
                            <form th:action="@{/savePatient}" method="post">
                                <div class="mb-2">
                                    <label class="form-label btn btn-info" >ID:</label>
                                    <label  th:value="${patient.id}" ></label>
                                    <input type="hidden" name="id" class="form-control" th:text="${patient.id}">
                                </div>
                                <div class="mb-2">
                                    <label class="form-label btn btn-info">Name </label>
                                    <input type="text" name="nom" class="form-control" th:value="${patient.nom}">
                                    <span class="text-danger" th:errors="${patient.nom}"></span>
                                </div>
                                <button class="btn btn-success">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>