<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">
<head>

    <meta charset="UTF-8" >
    <title>Patients</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div class="card m-2">
            <div class="card-header">Liste Patients</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>Keyword:</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${listPatients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nom}"></td>
                        <td>
                            <a class="btn btn-danger"
                               onclick="return confirm('Confirmez vous la suppression?')"
                               th:href="@{ delete(id=${p.id}, page=${currentPage}, keyword=${keyword}) }">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success"
                               th:href="@{ /editPatient(id=${p.id}, page=${currentPage}, keyword=${keyword}) }">
                                Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="p,c:${pages}">
                        <a th:href="@{index(page=${c.index},keyword=${keyword})}"
                           th:text="${c.index+1}"
                           th:class="${c.index==currentPage? 'btn btn-info ms-1': 'btn btn-outline-info ms-1'}"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>





</body>
</html>